<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permission (for accessing saved files in Downloads) -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:label="Test"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- WebView Screen -->
        <activity
            android:name=".WebActivity"
            android:exported="false" />

        <!-- Saved Reports Screen -->
        <activity
            android:name=".SavedActivity"
            android:exported="false" />

        <!-- Main Screen -->
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

    </application>

</manifest>